html {
  scroll-behavior: smooth;
}

/* sets a background image and gives a font to everything in the body */
body {
  background: center/100% no-repeat
    url("https://static.vecteezy.com/system/resources/previews/066/773/813/large_2x/seamless-beige-paper-texture-background-with-grain-photo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Josefin Sans", sans-serif;
}

/* sets the h1 to have a different font than everything else */
h1 {
  font-family: "Edu QLD Hand", sans-serif;
}

/* Giving both my dry and wet ingredients list a flexible display to allow centering of the box on the main axis and of the items on the cross axis */
#wet,
#dry {
  font-size: 20px;
  display: flex;
  width: auto;
  justify-self: center;
  /* gives both ingredients boxes a border and a background color  */
  border: 3px solid black;
  align-items: center;
  border-radius: 10%;
  background-color: rgba(88, 74, 58, 0.6);
  flex-wrap: wrap;
  flex-direction: row;
}

#dry > ul,
#wet > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#tricks {
  color: #ffffff;
  border: 3px solid black;
  border-radius: 5%;
  justify-self: center;
  /* gives the tricks box a background image */
  background: center/150% no-repeat
    url("https://assets.bonappetit.com/photos/5ca534485e96521ff23b382b/1:1/w_2560%2Cc_limit/chocolate-chip-cookie.jpg");
  font-size: 20px;
}

#ad {
  font-size: 20px;
}

#ad,
ol {
  border: 3px solid black;
  border-radius: 5%;
  justify-self: center;
  background-color: rgba(88, 74, 58, 0.6);
}

nav {
  /* gives the navigation box a border, centers everything, and sticks it to the top of the page */
  border: 3px solid black;
  border-radius: 5%;
  justify-self: center;
  width: 50%;
  position: sticky;
  top: 10px;
  background-color: rgba(88, 74, 58);
}

a {
  color: white;
}
a:hover {
  color: #85a7e2;
}

/* Giving the unordered list under my nav section a flexible display to allow the centering of the box on the main axis and lining up the items in a row */
nav > ul {
  display: flex;
  gap: 15px;
  justify-self: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Making the table box center on the main axis */
table {
  border: 2px solid black;
  padding: 10px;
  justify-self: center;
  background-color: rgba(72, 66, 61, 0.6);
  font-size: 20px;
}

li {
  padding: 0.5em;
}

button {
  /* sticks the button to the bottom right and changes its background color */
  padding: 0.2%;
  background-color: #000080;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: large;
  transition: all 500ms;
}

button:hover {
  /* changes the color and size of the button when you hover over it */
  background-color: #4979cd;
  transform: scale(1.2) translate(-10px);
}

h2 {
  margin-top: 100px;
}

h3 {
  margin-top: 50px;
}

h1,
h2,
h3,
p {
  justify-self: center;
}

p {
  margin-bottom: 50px;
}

img#dry {
  width: 200px;
}

img#wet {
  width: 300px;
}

.instructions {
  font-size: 20px;
}

/* at less than 880px, the ingredients lists will become a column */
@media (max-width: 880px) {
  #dry > ul,
  #wet > ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 615px) {
  #wet,
  #dry {
    flex-direction: column;
    align-items: center;
  }
  nav > ul {
    flex-direction: column;
  }
}

@media (max-width: 1123px) {
  nav {
    width: 100%;
  }
}
